<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <f:if condition="{data.frame_class} != none">
        <f:then>



            <div id="c{data.uid}" class="frame frame-{data.frame_class} frame-type-{data.CType} frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}"            >


                <f:if condition="{data.aos_animate} == 1">
                    <div data-aos="{f:if(condition: '{data.aos_animate_type} == "0"', then: 'fade')}{f:if(condition: '{data.aos_animate_type} == "1"', then: 'fade')}{f:if(condition: '{data.aos_animate_type} == "2"', then: 'fade-up')}{f:if(condition: '{data.aos_animate_type} == "3"', then: 'fade-down')}{f:if(condition: '{data.aos_animate_type} == "4"', then: 'fade-right')}{f:if(condition: '{data.aos_animate_type} == "5"', then: 'fade-left')}" data-aos-once="true">
                </f:if>

                <f:if condition="{data.parentgrid_CType} != 'kreativantgridelements_pi1'">
                    <f:if condition="{data.layout} != 200">
                        <div class="container{f:if(condition: '{data.fullwidth} == 1', then: '-fluid')}">
                    </f:if>

                </f:if>



                <f:if condition="{data._LOCALIZED_UID}">
                        <a id="c{data._LOCALIZED_UID}"></a>
                    </f:if>

                    <f:if condition="{data.CType} != 'textmedia'">

                        <f:render section="Before" optional="true">
                            <f:render partial="DropIn/Before/All" arguments="{_all}" />
                        </f:render>
                        <f:render section="Header" optional="true">
                            <f:render partial="Header/All" arguments="{_all}" />
                        </f:render>

                    </f:if>

                    <f:render section="Main" optional="true" />

                    <f:if condition="{data.CType} != 'textmedia'">

                        <f:render section="Footer" optional="true">
                            <f:render partial="Footer/All" arguments="{_all}" />
                        </f:render>
                        <f:render section="After" optional="true">
                            <f:render partial="DropIn/After/All" arguments="{_all}" />
                        </f:render>

                    </f:if>




                <f:if condition="{data.parentgrid_CType} != 'kreativantgridelements_pi1'">
                    <f:if condition="{data.layout} != 200">
                        </div>
                    </f:if>
                </f:if>

                <f:if condition="{data.aos_animate} == 1">
                    </div>
                </f:if>

            </div>

        </f:then>
        <f:else>

            <f:if condition="{data.aos_animate} == 1">
                <div>
            </f:if>

            <a id="c{data.uid}"></a>
            <f:if condition="{data._LOCALIZED_UID}">
                <a id="c{data._LOCALIZED_UID}"></a>
            </f:if>

            <f:if condition="{data.space_before_class}">
                <div class="frame-space-before-{data.space_before_class}"></div>
            </f:if>

            <f:if condition="{data.CType} != 'textmedia'">

                <f:render section="Before" optional="true">
                    <f:render partial="DropIn/Before/All" arguments="{_all}" />
                </f:render>
                <f:render section="Header" optional="true">
                    <f:render partial="Header/All" arguments="{_all}" />
                </f:render>

            </f:if>

            <f:render section="Main" optional="true" />

            <f:if condition="{data.CType} != 'textmedia'">

                <f:render section="Footer" optional="true">
                    <f:render partial="Footer/All" arguments="{_all}" />
                </f:render>
                <f:render section="After" optional="true">
                    <f:render partial="DropIn/After/All" arguments="{_all}" />
                </f:render>

            </f:if>

            <f:if condition="{data.space_after_class}">
                <div class="frame-space-after-{data.space_after_class}"></div>
            </f:if>

            <f:if condition="{data.aos_animate} == 1">
                </div>
            </f:if>

        </f:else>
    </f:if>
</f:spaceless>
</html>
