<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <f:link.page pageUid="1" class="navbar-brand default">
        <img alt="Startseite" class="img-responsive" src="fileadmin/Kundenbereich/{logo}"/>
    </f:link.page>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <f:cObject typoscriptObjectPath="lib.navigation.main"/>

</nav>

